<% include ../partials/header %>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <h1>
          <% if(user.firstName === undefined && user.firstName === undefined ){ %>
                  <%= user.username %>
          <% } else{ %>
              <%= user.firstName + " " + user.lastName %>
          <% } %>
      </h1>
      <img src="<%= user.avatar %>" alt="User Profile">
      <div class="caption">
          <%= user.email %>
      </div>
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptatum cumque, eum in ad quaerat aspernatur
    libero reprehenderit illum quas nesciunt voluptate sapiente maxime, possimus odit tenetur, porro necessitatibus
    expedita.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptatum cumque, eum in ad quaerat aspernatur
    libero reprehenderit illum quas nesciunt voluptate sapiente maxime, possimus odit tenetur, porro necessitatibus
    expedita.
  </div>
  <div class="col-md-8">
      <h2><%= user.username %>'s Campgrounds</h2>
    <ul>
        <% campground.forEach(function(campground) { %>
            <li><a href="/campground/<%= campground.id %>"><%= campground.name %></a></li>
        <% }); %>
    </ul>
  </div>
</div>


<% include ../partials/footer %>
